@import "colores";

@media screen and (max-width: 600px) {
    .buttonsection {
        display: flex;
        flex-direction: column; 
        justify-content: space-evenly;
        align-content: space-around;
        align-items:center;
        margin: 10px 10% 25px 10%;}
    .button {
        width: 40vw;
        height: 12vh;}}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .buttonsection {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        align-items:center;
        margin: 10px 10% 25px 10%;}
    .button {
        width: 20vw;
        height: 12vh;}}

@media screen and (min-width: 900px) {
    .buttonsection {
        display: flex;
        flex-direction: row; 
        justify-content: space-evenly;
        align-items:center;
        margin: 10px 10% 25px 10%;}
    .button {
	width: 18vw;
    height: 12vh;}}

@-webkit-keyframes hvr-pulse {
    25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}
    75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);}}

@keyframes hvr-pulse {
    25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}
    75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);}}

.button {
    background-color: $darkblue;
    background-blend-mode: overlay;
    filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25), inset 4px 4px 4px rgba(0, 0, 0, 0.25);
	border: 2px solid $darkblue;
	color: $whitebackground;
    font-stretch: semi-expanded ;
    letter-spacing: 2;
	text-align: center;
	text-decoration: none;
	display: inline-block;
    border-radius: 15px;
    margin: 2vh;
    font-size: 2.5vh;
    overflow: hidden;
        &:hover, &:focus, &:active {
        background-color: $middlelightblue;
        border: 2px solid $middlelightblue ;
        cursor: pointer;
        -webkit-animation-name: hvr-pulse;
        animation-name: hvr-pulse;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: 3;}}