$plainwhite: #cccccc;
$plainwhite2: #ccc;
$strongred: #e52524;
$darkred: #7f2525;
$middledarkred: #980404;
$lightmustard: #F6cd63;
$whitebackground: rgb(237,235,238);
$pastellightblue: #8f9fdd;
$darkblue: #202b58;
$middlelightblue: #4e5d97; 
$lightblue: #8596DC; 
$greenfooter: #29a992;
$baseblue: #4D5EA3;
