@import "colores";


/* form */
/* FORM View Mobile hasta 460px*/
@media screen and (max-width: 460px){
    .form {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        border-radius: 10px;
        margin: 1% 0 3% 0;
        padding: 2% 0 2% 0;
        background-color: $pastellightblue;
        background-blend-mode:overlay;
        height:auto;
        width:100vw;
        article {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-content: center;}
        form {
            width: auto;
            justify-content: flex-start;}}
    
    .form__section {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: visible;}
    
    .form__label {
        padding: 1%;
        width: 25%;
        margin:1% 1% 2% 4%;
        font-size: 2.5vh;}
    
    .form__inputspace {
        float: right;
        width: 75vw;
        margin-top: 6px;
        font-size: 2.5vh;}
    
    input[type=submit] {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: $middlelightblue;
        background-blend-mode: overlay;
        border: 2px solid $middlelightblue;
        color: $lightblue;
        font-stretch: semi-expanded ;
        letter-spacing: 2;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 30vw;
        height: 15vh;
        border-radius: 15px;}
    
    .form__button {
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        align-self: center;
        align-content: center;
        width: 100vw;
        font-size: 135%;
    }}


/* FORM Mid View 460px a 900px*/
@media screen and (min-width:460px) and (max-width: 900px){
    .form {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        border-radius: 10px;
        margin: 1% 5% 3% 5%;
        padding: 2% 0 2% 0;
        background-color: $pastellightblue;
        background-blend-mode:overlay;
        height:auto;
        width:90vw;
        article {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-content: center;}
        form {
            width: 100%;
            justify-content: flex-start;}}
    
    .form__section {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: visible;}
    
    .form__label {
        padding: 1%;
        width: 25%;
        margin:1% 1% 2% 4%;
        font-size: 2.5vh;}
    
    .form__inputspace {
        float: right;
        width: 75%;
        margin-top: 6px;
        font-size: 2.5vh;
        margin-right:2%}
    
    input[type=submit] {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: $middlelightblue;
        background-blend-mode: overlay;
        border: 2px solid $middlelightblue;
        color: $lightblue;
        font-stretch: semi-expanded ;
        letter-spacing: 2;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 17vw;
        height: 10vh;
        border-radius: 15px;}
    
    .form__button {
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        align-self: center;
        align-content: center;
        font-size: 135%;
    }}

/* FORM Webview desde 900px */
@media screen and (min-width: 900px){    
    .form {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: flex-start;
        border-radius: 10px;
        margin: 1% 17.5% 3% 17.5%;
        padding: 2% 0 2% 0;
        background-color: $pastellightblue;
        background-blend-mode:overlay;
        height:auto;
        width:65vw;
        article {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-content: center;}
        form {
            width: 100%;
            justify-content: flex-start;}}

    .form__section {
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto;
        overflow: visible;}

    .form__label {
        padding: 1%;
        width: 25%;
        margin:1% 1% 2% 4%;
        font-size: 2.5vh;}

    .form__inputspace {
        float: right;
        width: 75%;
        margin-top: 6px;
        font-size: 2.5vh;
        margin-right:2%;
        input, textarea {
            font-size: 2vh;}}

    input[type=submit] {
        cursor: pointer;
        justify-content: center;
        align-items: center;
        align-self: center;
        background-color: $middlelightblue;
        background-blend-mode: overlay;
        border: 2px solid $middlelightblue;
        color: $lightblue;
        font-stretch: semi-expanded ;
        letter-spacing: 2;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        width: 12vw;
        height: 10vh;
        border-radius: 15px;}

    .form__button {
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        align-self: center;
        align-content: center;
        font-size: 135%;}}


/* FORM todas las views */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid $plainwhite2;
    border-radius: 10px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;}

input[type=number],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid $plainwhite2;
    border-radius: 10px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;}

input[type=submit]:hover {
    background-color: $middlelightblue;
    border: 2px solid $middlelightblue ;
    cursor: pointer;
    transform:scale(1.1);
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: 3;}

.form__button__div {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}