@import "colores";

header{
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    min-height: 450px;
    height: auto;
    object-fit: contain;
    margin: 0%;
    margin-bottom: 1%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    flex-wrap: nowrap;}

.header__pagetitle {
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    text-shadow: 3px 3px 4px #EAEEFB;
        h1 {
            width: 100%;
            margin: 3% 0%;}}

.header__logo {
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
    max-width: 100%;
    width: 100%;
    min-height: 450px;
    height: 450px;
    object-fit: contain;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25)) drop-shadow(-8px -1px 4px rgba(0, 0, 0, 0.3));}

.pagetitle {
    margin: 10px 0px 25px 0px;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
    text-shadow: 3px 3px 4px #EAEEFB;}


@media screen and (max-width: 600px) {
    .header__pagetitle {
        width: 100%;
        align-self: center;
        margin: 0;
            h1 {
            white-space: nowrap;
            font-size: 4vh;}}}

@media screen and (min-width: 600px) {
    .header__pagetitle {
        width: 100%;
        margin: 1%;
        width: 50%;
            h1 {
                width: 100%;
                white-space: nowrap;}}

    .header__logo {
        min-width: 336px;}}