@import "colores";

* { 
    font-family: 'Alata';
    padding: 0px;
    margin: 0px;}

body {   
    background-image: radial-gradient(116.88% 101.21% at 10.35% 20.88%, #8596DC 0%, #C5A9E9 82.73%, #DEB0EE 100%);
    background-color: $plainwhite;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    color: $darkblue;
    min-height: 100vh;
    max-width: 100vw;
    display: flex;
    flex-direction: column;

}


/* otras cuestiones de formato */

.imagencentrada {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 100px;
    width: 100px;
    display: flex ;
    align-items: center ;
}

@import "navbar";
@import "header";
@import "iconos";
@import "content";
@import "footer";
@import "informationboxes";
@import "form";
@import "buttons";


