* { 
    font-family: 'Alata';
    padding: 0px;
    margin: 0px;}

body {   
    background-image: url(../assets/elementos/Mesa\ de\ trabajo\ 90.png), url(../assets/elementos/Mesa\ de\ trabajo\ 129\ -\ Copy.png), url(../assets/elementos/Mesa\ de\ trabajo\ 125.png), url(../assets/elementos/Mesa\ de\ trabajo\ 103.png),url(../assets/elementos/circulo\ rojo\ puntos.png),url(../assets/elementos/Mesa\ de\ trabajo\ 94.png),url("../assets/Fondos.png");
    background-color: #cccccc;
    background-repeat:no-repeat, no-repeat, no-repeat, no-repeat,no-repeat,no-repeat,repeat;
    background-size: 12%, 11%, 12%, 9%, 11%,8%,cover;
    background-position: -5% 5%, 103% 40%,-3% 55%, 101% -2%, 103% 80%, 0% 98%, center;
    background-attachment: scroll, scroll, scroll,scroll, scroll, scroll, fixed;
}

/* NavBar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #e52524;
    position: fixed ;
    top: 0;
    width: 100vw;
    text-align: center;
    height: 45px;
}

.nav__ul {
    position:absolute;
    left: 0;
    align-items: left;
    width: 100%;
    grid-area: nav;
    display: grid; 
    grid-template-areas: "home pedagogia comotrabajamos contacto . . . . . . . plataforma";
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-column-gap: 0vh;
    overflow: hidden;
    list-style: none;
}

.nav__li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1vw 2vw;
    text-decoration: none;
    align-self: left;
}

.nav__li a:hover {
    background-color: #7f2525;
    color: white;
}

#nav__li__home {
    grid-area: home;
}

#nav__li__pedagogia {
    grid-area: pedagogia;
}

#nav__li__comotrabajamos {
    grid-area: comotrabajamos;
}

#nav__li__contacto {
    grid-area: contacto;
}

#nav__li__plataforma {
    grid-area: plataforma;
}

.active {
    background-color: #980404;
    color: #F6cd63 ;
}

/* Header */
header{
    min-width: 336px;
    max-width: 100%;
    width: 100%;
    min-height: 450px;
    height: 450px;
    object-fit: contain;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;

}

.header__logo {
    position:absolute;
    left:0px;
    top:0px;
    z-index:-1;
    min-width: 336px;
    max-width: 100%;
    width: 100%;
    min-height: 450px;
    height: 450px;
    object-fit: contain;
}

.header__pagetitle{
    text-align: center;
    justify-content: center;
    margin: 1%;
    width: 50%;
}

.iconos{
    margin: 0;
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    align-content: center;
    list-style: none;
    box-align: center;
    text-align: center; 
    z-index: 2;
}

.iconos__imagen {
    margin: 0;
    height: 45px;
    width: auto;
}

.iconos a:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
    height: 49px;

}

.iconos__li {
    display: flex;
    width:auto;
    height: auto;
    margin: 9px;
    
}

.pagetitle {
    margin: 10px 0px 25px 0px;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center; 
}

/* Content */
body {
    background-image: url ('Fondos.png');
    color: #e52524;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    background-color: rgb(237,235,238);
    background-blend-mode: lighten ;
    border-radius: 20px;
    text-align: justify;
    margin: 10px 10% 25px 10%;
    width: 75%;
    height: auto;
    padding: 2% ;
    line-height:  1.8;
    font-weight: bolder;
    letter-spacing: 1px ;
    line-height: 1.5;
    word-spacing: 3px ;
}

.home__p {
    background-color: rgb(237,235,238);
    background-blend-mode: lighten ;
    border-radius: 20px;
    text-align: justify;
    margin: 10px 10% 25px 10%;
    width: 75%;
    height: auto;
    padding: 2% ;
    line-height:  1.8;
    font-weight: bolder;
    letter-spacing: 1px ;
    line-height: 1.5;
    word-spacing: 3px ;
    text-indent: 10%;
}

.video {
    justify-content: center;
    align-items: center;
    align-self: center;
}

/* Information boxes */
.informationboxes{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
}

.informationboxes__box {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    flex-flow: row nowrap;
    display: flex;    
    width: 15vw;
    height: 25vh;
    background-image: url(../assets/elementos/Mesa\ de\ trabajo\ 112.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    color: #4e5d97;
    padding: 1.5%;
    font-weight: bold;
    position:relative;
    transition: all 0.5s linear;
}

.informationboxes__box__state1 {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content:center;
    width: 100%;
    height: 100%;
    background-image: url(../assets/elementos/Mesa\ de\ trabajo\ 112.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    color: #4e5d97;
    padding: 1.5%;
    font-weight: bold;
    position:absolute;
}

.informationboxes__box__state1 h3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content:center;
    padding: 26%;
    padding-top: 28%;
    font-size: 110%;
}

.informationboxes__box:hover {
    cursor: pointer;
}


.informationboxes__box__statehover {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content:center;
    background-image: url(../assets/elementos/Mesa\ de\ trabajo\ 121.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    opacity: 1;
    color: #4e5d97;
    font-weight: normal;
    position:absolute;
    z-index: 100;
    width: auto;
    height: 115%;
}

.informationboxes__box__text {
    margin: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content:center;
    width: 30%;
    height: 90%;
    font-size: 85%;
    font-weight: bold;
    line-height: 130%;
    
}

.informationboxes__box:hover .informationboxes__box__statehover{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content:center;
    background-image: url(../assets/elementos/Mesa\ de\ trabajo\ 93.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    opacity: 1;
    color: #4e5d97;
    font-weight: normal;
    position:absolute;
    z-index: 100;
    width: 40vw;
    height: 40vh;
    margin: 10%;
}

/* General buttons */
.buttonsection {
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
    align-items:center;
    margin: 10px 10% 25px 10%;
}

@-webkit-keyframes hvr-pulse {
    25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}
    75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);}}

@keyframes hvr-pulse {
    25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);}
    75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);}}
.button {
    background-color: #8596DC;
    background-blend-mode: overlay;
	border: 2px solid #8596DC;
	color: rgb(237,235,238);
    font-stretch: semi-expanded ;
    letter-spacing: 2;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: auto;
    padding: 1.5em 1.5em;
    border-radius: 15px;
    
}

.button:hover, .button:focus, .button:active {
    background-color: #4e5d97;
    border: 2px solid #4e5d97 ;
    cursor: pointer;
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: 3;
}


/* FOOTER */
footer {
    background-color:  #29a992;
    bottom: 0;
    margin: 5% 0 0 0;
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-content: baseline;
    top: 0;
    width: auto;
    text-align: center;
    height: auto;
    position:relative;
}

.footer__section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 0 0 0;
}

.footer__copy {
    margin: 1% 30% 0 0;
}

.footer__gototop {
    margin: 3% 35% 0 5%;
}

.footer__gototop a{
    color: rgb(237,235,238); 
}

.footer__gototop:hover {
    transform:scale(1.1);
}

.footer__gototop a:hover {
    color:#e52524;
}

.footer__logo {
    height: 100px;
    width: auto;
}

.footer__logo:hover {
    transform: scale(1.1)
}


.footer__iconos {
    margin: 2% 2% 0 0%;
    height: 35px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    align-content: center;
    list-style: none;
    box-align: center;
    text-align: center; 
    z-index: 2;
}

.footer__iconos a:hover {
    opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}


.footer__iconos__li {
    display: flex;
    width:auto;
    height: auto;
    margin: 9px;
}


/* otras cuestiones de formato */

.imagencentrada {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 100px;
    width: 100px;
    display: flex ;
    align-items: center ;
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    border-radius: 10px;
    margin: 1% 30% 3% 30%;
    padding: 2% 0 2% 0;
    background-color: rgb(237,235,238);
    background-blend-mode: overlay;
    height: auto;
    width: auto;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=number],
select,
textarea {
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing:border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit] {
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: #8596DC;
    background-blend-mode: overlay;
	border: 2px solid #8596DC;
	color: rgb(237,235,238);
    font-stretch: semi-expanded ;
    letter-spacing: 2;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: auto;
    padding: 1.5em 1.5em;
    border-radius: 15px;
    margin: 1% 0 1% 90%;
}

input[type=submit]:hover {
    background-color: #4e5d97;
    border: 2px solid #4e5d97 ;
    cursor: pointer;
    transform:scale(1.1);
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: 3;
}

.form__label {
    padding: 12px 12px 12px 0;
    width: 25%;
    margin:1% 1% 2% 4%;
}

.form__inputspace {
    float: right;
    width: 75%;
    margin-top: 6px;
}

.form__section {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 150%;
    height: auto;
    margin: 1% 2% 1% 30%;
}

